<% if line_item == @current_item %>
<tr id="current_item" class="item_added">
<% else %>
<tr>
<% end %>
	<td><%= line_item.quantity %> &times; </td>
	<td><%= line_item.product.title %></td>
	<td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
	<td><%= link_to "[-]", url_for(line_item), method: :delete, data: { confirm: "¿Estás seguro?"}, only_path: true %></td>
</tr>
